@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat Light", sans-serif;
}

.tag-title {
  font-size: 1.5em;
  text-align: center;
}

.tag-container {
  position: relative;
  z-index: 2;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper .tag-container {
  position: relative;
  z-index: 2;
  padding-right: 1em;
  border-radius: 10px;
  margin-bottom: 0px;
  padding-top: 2em;
  font-size: 14px;
}

.tag-container.custom-tag-container {
  width: 82.5%;
  right: 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 3em;
  overflow: hidden;
  height: auto;
}

.caroussel .image-wrapper {
  max-width: 95vw;
  aspect-ratio: 1240/415;
  margin: 0 auto;
}
.caroussel .image-wrapper img {
  border-radius: 1.5em;
}
.caroussel .image-wrapper .button-left,
.caroussel .image-wrapper .button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.caroussel .image-wrapper .button-left img,
.caroussel .image-wrapper .button-right img {
  /* styles pour les boutons gauche et droit */
}
.caroussel .image-wrapper .button-left {
  left: 2vw;
  height: 10em;
}
.caroussel .image-wrapper .button-right {
  right: 2vw;
  height: 10em;
}

.tag-header {
  width: 100%;
  padding: 2em;
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: center;
  background: #FF6060;
  border-radius: 5px;
  height: 25px;
  top: 670px;
  left: 100px;
}

.tag-header .menu-title {
  color: #f5f5f5;
  text-align: center;
}

.tag-content {
  padding: 1em;
  overflow: hidden;
}

.tag-container .tag-title {
  padding-left: 0;
  font-family: "Montserrat Light", sans-serif;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
}

@media (max-width: 767.98px) {
  .content-wrapper .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 0em;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-top: 2em;
    font-size: 7px;
  }
  .tag-title {
    font-size: 1.75em;
    text-align: center;
  }
  /*.caroussel .image-wrapper {*/
  .caroussel .image-wrapper img {
    border-radius: 10px;
  }
  .caroussel .image-wrapper {
    max-width: 95vw;
    aspect-ratio: 1240/415;
    margin: 0 auto;
    height: 255px;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
  }
  .caroussel .image-wrapper .button-left {
    left: 1vw;
    width: 0px;
    height: 0px;
  }
  .caroussel .image-wrapper .button-right {
    right: 0px;
    width: 0px;
    height: 0px;
  }
  .caroussel .image-wrapper .button-left img,
  .caroussel .image-wrapper .button-right img {
    height: 24px;
    width: 24px;
  }
  /* } .caroussel .image-wrapper {*/
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* Styles pour tablette */
  .tag-header {
    width: 100%;
    padding: 1.25em;
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: center;
    background: #FF6060;
    border-radius: 5px;
    height: 25px;
    top: 670px;
    left: 100px;
  }
  .tag-content {
    padding: 0em;
    overflow: hidden;
  }
}
@media (min-width: 1200.02px) and (max-width: 1440px) {
  /* Styles pour desktop */
  .tag-container .tag-title {
    font-size: 18px;
    padding: 0vw;
  }
  .tag-header {
    width: 100%;
    padding: 1em;
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: center;
    background: #FF6060;
    border-radius: 5px;
    height: 25px;
    top: 670px;
    left: 100px;
  }
  .content-wrapper .tag-header {
    display: flex;
    align-items: center;
    background: #ff6060;
    border-radius: 2em;
    height: 25px;
    padding: 2em;
    width: 100%;
  }
  .content-wrapper .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 0em;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-top: 0em;
    font-size: 10px;
  }
}

/*# sourceMappingURL=Tag.css.map */
