@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import '_variables.scss';
@import '_mixins.scss';


.AboutBanner {
    position: relative;
    width: 100%;
    height: 18em;
    border-radius: 25px;
    margin-top: 1em;
    overflow: hidden;
    padding: 0vw;
    padding-left: 3%;
    padding-right: 3%;
}
.AboutBannerImage{
    width: 100%;
    height: 100%; // Ajustez la hauteur de l'image selon vos besoins
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px;
}
.ContainerMenuDepliant {
    padding-bottom: 24vh;
}
.footer {
    max-width: 100%;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #000000;
    padding: 20px 0;
}

.text {
    padding-top: 0.5em;
    width: 100%;
    height: 46px;
    font-family: "Montserrat Light", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.dropdownlarge {
    position: absolute;
    width: 1023px;
    height: auto;
    bottom: 30em;
    background: #FFF;
}

.Rectangle4 {
    width: 1100px;
    padding-top: 4em;
    margin-left: 20em;
    padding-bottom: 1em;
    margin-bottom: 13em;
    border-radius: 5px;
    background: #FF6060;
    cursor: pointer;
    position: relative;
}
@include respond-to('mobile') {
    .AboutBanner {
        position: relative;
        width: 100%;
        height: 18em;
        border-radius: 25px;
        overflow: hidden;
        padding: 0vw;
        padding-left: 3%;
        padding-right: 3%;
    }
    .AboutBanner {
        /* height: 50vh; */
        /* padding: 0vw; */
        padding-top: 3.5vw;
    }
    .ContainerMenuDepliant {
        padding-bottom: 20vh;
    }
}
