@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import '_variables.scss';
@import '_mixins.scss';

* {
    font-family: 'Montserrat Light', sans-serif;
}

// Styles pour desktop
.HomeBanner {
    position: relative;
    width: calc(100% - 4vw); // Ajustement de la largeur pour correspondre aux autres éléments
    height: 16.25vw; // Utilisation de vw pour hauteur relative à la largeur de la fenêtre
    border-radius: 0px;
    overflow: hidden;
    margin: 2em auto; // Centrer horizontalement la bannière
    padding: 0; // Enlever le padding pour éviter les écarts
    box-sizing: border-box; // Inclure le padding dans la taille totale
}

.HomeBannerImage {
    width: 61%; // S'assurer que l'image prend toute la largeur du conteneur
    height: 100%; // S'assurer que l'image prend toute la hauteur du conteneur
    object-fit: cover; // S'assurer que l'image s'adapte bien au conteneur
    filter: brightness(0.7);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content h2 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 4vw; // Utilisation de vw pour une taille de texte relative
    font-weight: 500;
    margin: 0;
}

@include respond-to('mobile') {
    .HomeBanner {
        padding: 0;
        position: relative;
        width: calc(100% - 2em); // Ajustement de la largeur pour correspondre au header
        margin: 0 auto; // Centrer la bannière sur mobile
        height: 11vh; // Ajustement de la hauteur pour mobile
        margin-top: 2em; // Ajouter une marge supérieure pour éviter le chevauchement
        border-radius: 1em; // Border-radius effectif
    }

    .HomeBannerImage {
        border-radius: 10px;
        width: 100%; // S'assurer que l'image prend toute la largeur du conteneur
        height: 100%; // S'assurer que l'image prend toute la hauteur du conteneur
        object-fit: cover; // S'assurer que l'image s'adapte bien au conteneur
    }

    .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 1em; // Ajout d'un padding pour éviter que le texte ne touche les bords
    }

    .content h2 {
        text-align: center; // Centrer le texte pour mobile
        font-size: 6vw; // Utilisation de vw pour une taille de texte relative
        margin: 0;
        width: auto; // Ajustement de la largeur pour mobile
        padding-right: 0; // Retirer le padding pour mobile
    }

    .AboutBanner {
        padding-top: 0vw;
        padding-bottom: 0vw;
        height: 50vh; // Utilisation de vh pour hauteur relative à la fenêtre
        padding: 5vw; // Padding en vw pour adaptation fluide
    }
    
    .AboutBannerImage {
        border-radius: 10px;
    }
}
