@import '_variables.scss';
@import '_mixins.scss';

.card {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  width: 100%;

  &_img_container {
    overflow: hidden;
    border-radius: 1.5em;
    width: 100%;
    height: 0;
    padding-bottom: 100%; // Maintient un ratio carré
    box-sizing: border-box;
    position: relative;

    .card_img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_title {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
    margin: 0;
    color: $white;
    font-size: 2vw; // Utilisation de vw pour taille de police relative
    font-weight: 500;
    line-height: 1.5em;
    padding-left: 1rem;
    width: calc(90%);
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }
}

@include respond-to('mobile') {
  .card {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0em;
    display: block;
    width: calc(100% - 2em); // Ajustement de la largeur pour correspondre au header
    margin: 0 auto; // Centrer les cartes sur mobile

    &_img_container {
      padding: 0;
      padding-top: 0.5em;
      border-radius: 15px;
      height: auto; // Ajustement pour mobile
      padding-bottom: 0;

      .card_img {
        height: 20em; // Réduction de la hauteur pour mobile
        border-radius: 15px;
        position: relative;
        width: 100%;
        object-fit: cover;
      }
    }

    &_title {
      font-size: $font-size-base;
      bottom: 0em; // Placement du titre en dessous de l'image
      width: calc(100% - 2em); // Ajustement de la largeur pour le padding
      padding: 0.5em;
      border-radius: 0 0 1.5em 1.5em; // Arrondir les coins inférieurs
      position: absolute; // Ajout pour positionner correctement
      bottom: 10px; // Ajustement de la position
      left: 10px; // Ajustement de la position
      color: $white; // S'assurer que le texte est blanc
    }
  }
}
