* {
    margin: 0;
    box-sizing: border-box;
}

@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat Light', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3vw; /* Utilisation de vw pour un padding relatif */
    padding-left: 3vw; /* Utilisation de vw pour un padding relatif */
    background-color: #e6e6fa;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            width: 0vw; /* Utilisation de vw pour une largeur relative */
            top: 5vh; /* Utilisation de vh pour une position relative */
            left: 5vw; /* Utilisation de vw pour une position relative */
        }
    }

    nav {
        width: auto;
        padding-top: 4vh; /* Utilisation de vh pour un padding relatif */
        padding-right: 3vw; /* Utilisation de vw pour un padding relatif */
    }
}

header img.KasaLogo {
    cursor: pointer;
    width: 16vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 0px;

    img {
        width: 20vw; /* Utilisation de vw pour une largeur relative */
        height: 8vh; /* Utilisation de vh pour une hauteur relative */
    }
}

.menu {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #f8f9fa;

    .menu-item {
        cursor: pointer;
        color: #4b0082;
        font-family: "Montserrat Light", sans-serif;
        font-size: 2.25vw;
        font-weight: 500;
        line-height: 4vh; /* Ajustement de la hauteur de ligne */
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-decoration: none;

        & + .menu-item {
            margin-left: 4vw; /* Utilisation de vw pour un margin relatif */
            margin-right: 0vw; /* Utilisation de vw pour un margin relatif */
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: -2px; /* Positionnement de la ligne de soulignement */
            width: 0;
            height: 1px; /* Réduction de l'épaisseur de la ligne de soulignement */
            background-color: #4b0082;
            transition: width 0.5s ease;
        }

        &::before {
            left: 50%;
            transform: translateX(-50%);
        }

        &::after {
            right: 50%;
            transform: translateX(50%);
        }

        &:hover::before,
        &:hover::after {
            width: calc(100% - 0px);
        }
    }
}


@include respond-to('mobile') {
    .menu {
        right: 0px;
        display: flex;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
    }

    .menu .menu-item {
        cursor: pointer;
        color: #FF6060;
        font-family: "Montserrat Light", sans-serif;
        font-size: 3.5vw;
        font-weight: 500;
        line-height: 1.75vh;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-decoration: none;
    }

    .menu .menu-item + .menu-item {
        margin-left: 2.5vw;
        margin-right: 0vw;
    }

    header nav {
        width: auto;
        flex-flow: column;
        align-items: center;
        flex-direction: row;
        padding-top: 3vh;
        padding-right: 4vw;
    }

    header .container {
        display: block;
        justify-content: normal;
        align-items: center;
        height: auto;
        padding-bottom: 0;
        align-items: center;
    }

    main .background {
        position: relative;
        width: 100%;
        height: 6em;
        border-radius: 25px;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }

    header img.KasaLogo {
        width: 180px; /* Largeur fixe pour la version mobile */
        height: 80px; /* Hauteur fixe pour la version mobile */
    }

    .menu-item {
        cursor: pointer;
        color: #FF6060;
        font-family: "Montserrat Light", sans-serif;
        font-size: 3.5vw;
        font-weight: 500;
        line-height: 2vh;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-transform: uppercase;

        &::before,
        &::after {
            bottom: -1px; /* Positionnement de la ligne de soulignement */
        }
    }

    .gallery-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    main .background {
        height: 18em;
    }

    .background {
        position: relative;
        width: calc(70% + 96px);
        height: 10em;
        border-radius: 25px;
        overflow: hidden;
        padding-left: 18px;
        padding-top: 50px;
    }
}


/* Media queries pour small devices + devices exceptionnels (plus bas) */
@include respond-to('small-devices') {
    header nav {
        width: auto;
        flex-flow: column;
        align-items: center;
        flex-direction: row;
        padding-top: 8vh;
        padding-right: 4vw;
    }

    .content-wrapper .host-info {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding-bottom: 0em;
        margin-right: 16vw;
        margin-bottom: 9em;
    }

    .menu .menu-item {
        cursor: pointer;
        color: #FF6060;
        font-family: "Montserrat Light", sans-serif;
        font-size: 4vw;
        font-weight: 500;
        line-height: 1.75vh;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-decoration: none;
    }
}
/* Media queries for specific devices */
@include respond-to('iphone-se') {
    header nav {
        width: auto;
        flex-flow: column;
        align-items: center;
        flex-direction: row;
        padding-top: 8vh;
        padding-right: 5vw;
    }

    .content-wrapper .host-info {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding-bottom: 0em;
        margin-right: 16vw;
        margin-bottom: 9em;
    }

    .menu .menu-item {
        cursor: pointer;
        color: #FF6060;
        font-family: "Montserrat Light", sans-serif;
        font-size: 4vw;
        font-weight: 500;
        line-height: 1.75vh;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-decoration: none;
    }
}

@include respond-to('samsung-s8') {
    header nav {
        width: auto;
        flex-flow: column;
        align-items: center;
        flex-direction: row;
        padding-top: 7vh;
        padding-right: 5vw;
    }

    .content-wrapper .host-info {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding-bottom: 0em;
        margin-right: 16vw;
        margin-bottom: 9em;
    }

    .menu .menu-item {
        cursor: pointer;
        color: #FF6060;
        font-family: "Montserrat Light", sans-serif;
        font-size: 4vw;
        font-weight: 500;
        line-height: 1.75vh;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0 0vw;
        padding-top: 0vh;
        padding-right: 0em;
        position: relative;
        text-decoration: none;
    }
}
@include respond-to('iphone-se') {
    .content-wrapper .host-info {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      padding-bottom: 0em;
      margin-right: 4vw;
      margin-bottom: 24vh;
  }
    .content-wrapper .tag-header {
      display: flex;
      align-items: center;
      background: #ff6060;
      border-radius: 1em;
      height: 25px;
      font-size: 5px;
  }
}
@include respond-to('samsung-s8') {
    .content-wrapper .host-info {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      padding-bottom: 0em;
      margin-right: 5vw;
      margin-bottom: 9em;
  }
    .content-wrapper .tag-header {
      display: flex;
      align-items: center;
      background: #ff6060;
      border-radius: 1em;
      height: 25px;
      font-size: 4.95px;
  }
}